### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
dist
node_modules
public/server/dist
public/server/build
cypress
coverage
errors.log
public/server.log
