
/* стили для меню*/
/*------------------------------------------------------*/

/*.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 15px;
    background-color: #98e0da;
}
.menu ul li{
        position: relative;
        cursor: pointer;
        outline: none;
        text-decoration: none;
        font-size: 14px;
        vertical-align: middle;
        color:black;
        text-align: center;
    background-color: #98e0da;
        padding: 10px 20px;
        box-sizing: border-box;
        border: none;
    height: 10%;
        margin: 0;
        transition: background-color 0.2s;
    border-radius: 15px;
}

.menu {
    list-style: none;
    padding: 0;
    background-color: #98e0da;
    float: left;
    position: fixed;
    top: 1%;
    left: 0;
    border-radius: 15px;
    border: 2px solid #ffffff;
    margin-left: 1%;
}

.menu-item {
    position: relative;
}

.sub-menu {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #fff;
    display: none;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.menu-item:hover .sub-menu {
    display: block;
    opacity: 1;
    max-height: 200px;
}

.sub-menu li {
    white-space: nowrap;
}

.menu-item:hover > a {
    background-color: lightgray;
}

.sub-menu li:hover > a {
    background-color: lightblue;
}*/

header{
    /*border: 2px solid #023103;*/

    /*background: #030303;*/
    background: #000000;
    height: 5%;
    padding:1%;
    font-size: 20px;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}
.menu {
    border-radius:15px;
    display: table;
    background: #000000;
    /*background: #030303;*/
    width: 100%;

    font-size: 18px;
}
.menu ul {
    display: table-row;
    margin-left:4%;
    font-weight: bold;
}


.menu li {
    border-radius:15px;
    display: table-cell;
    position: relative;
    background: #000000;
    font-weight: bold;
    /*background: #030303;*/
}
.menu li a {
    display: block;
    padding: 15px 15px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
}
/*.menu-caret:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 3px solid;
    border-right: 3px solid transparent;
    border-bottom: 0;
    border-left: 3px solid transparent;
}*/
.menu ul li {
    font-weight: bold;
    position: relative; /* Добавляем относительное позиционирование */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Добавляем анимацию */
}
.menu ul li:hover, .menu a:hover {
    background: #041f1d;
    /*background: #0c0c0c;*/
}
.menu li:hover ul  {
    /*display: block;
    position: absolute;
    top: 100%;
    left: 0px;
    background: #0e0e0e;
    margin: 0;
    width: 85%;
    padding: 10px 20px;
    z-index: 9999;
    border-bottom: 1px;
    border-bottom-color: #6edff6;
    border-radius:15px;*/
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0; /* Устанавливаем начальную прозрачность */
    visibility: hidden; /* Прячем элемент до начала анимации */
    /*background: #0e0e0e;*/
    background: #041f1d;
    margin: 0;
    width: 85%;
    padding: 10px 20px;
    z-index: 9999;
    border-bottom: 1px solid #6edff6; /* Исправляем свойство border-bottom */
    border-radius: 15px;
    transition: opacity 0.7s ease, visibility 0.7s ease; /* Добавляем анимацию */
}
.menu ul ul  {
    /*display: none;*/
    position: absolute; /* Добавляем абсолютное позиционирование */
    top: 0;
    left: 100%; /* Помещаем подменю справа от родительского элемента */
    opacity: 0; /* Устанавливаем начальную прозрачность */
    visibility: hidden; /* Прячем элемент до начала анимации */
    transition: opacity 0.7s ease, visibility 0.7s ease; /* Добавляем анимацию */
}
.menu li:hover > ul,
.menu ul ul li:hover > ul {
    opacity: 1; /* Показываем подменю с анимацией */
    visibility: visible; /* Показываем подменю с анимацией */
}
.menu ul ul li  {
    display: block;
    background: #041f1d;
    /*background: #0e0e0e;*/
    padding: 5px 0;
}
.menu ul ul li a  {
    display: block;
    padding: 0;
    background: #041f1d;
    /*background: #100f0f;*/
    text-align: left;
}
/*------------------------------------------------------*/

/* стили для basis*/
.divBasis{
    color: #000000;
    height: 2700px;
    padding: 1%;
    margin-top: 1%;
    font-size: 18px;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}
form{
    border-radius:15px;
    padding: 1%;
}
/**/

/*стили для таблицы*/
.wrapperTable{
    border-radius:15px;
    margin-left: 5px;
    background: #dbe7e3;
    padding: 7px;
    margin-top: 5px;
    /*left: 52%;
    position: absolute;
     */
    float:right;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.5);

}
.table {
    width: 90%;
    border-collapse: collapse;
    border-radius: 15px;
}
.table th {
    font-weight: bold;
    padding: 2px;
    background: #a2d7d9;
    border: 1px solid #dddddd;
    font-size: 18px;
}
.table td {
    border: 1px solid #dddddd;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}
.tableInput{
    font-size: 18px;
    margin: 0 auto;
    display: block;
    background: #f4f8f8;
    color:black;
    border: 0;
    border-radius: 5px;
    width: 200px;
    font-weight: bold;
}

.tableInput{
    border: none;
    outline: none;
    border-bottom: 3px solid #ffffff;
}

/**/


/*общие стили для кнопки*/
.btnAction {
    --c:  #229091; /* the color*/

    box-shadow: 0 0 0 .1em inset var(--c);
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background:
            var(--_g) calc(var(--_p,0%) - 100%) 0%,
            var(--_g) calc(200% - var(--_p,0%)) 0%,
            var(--_g) calc(var(--_p,0%) - 100%) 100%,
            var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
}
.btnAction:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
}
.btnAction:active {
    box-shadow: 0 0 0 inset #82a2a2;
    background-color: var(--c);
    color: #aba7a7;
}

.btnAction {
    font-family: system-ui, sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    padding: .1em .6em;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    color: black;
    margin-top: 1%;
}

#addRow{
    font-family: system-ui, sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    padding: .1em .6em;
    font-weight: bold;
    border-radius: 15px;
    color: white;
    background-color: #0b7a88;
    outline: none;
    border:none;
}
#idRow{
    background-color: #33c3c5;
    width:200px;
    float:right;
}

#countBtn{
    float:right;
    margin-right: 5%;
}
/**/

/*------------------------------------------*/
.form__input {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 0.8rem 1.2rem;
    display: block;
    height:30px;
    width:200px;
    background: #b9cecd;

    border: 0;
    border-radius: 15px;
    border-bottom: 3px #3C4B57;
    color:#000000;
    font-size: 18px;
    font-weight: bold;
}

.form__input{
    border: none;
    outline: none;
    border-bottom: 2px solid #eeeaea;
}

.form__label{
    font-size: 18px;
    font-weight: bold;
}
/*---------------------------------------------------*/

/* begin div*/
.begin {
    order: 1;
    padding: 2%;
    display: table;
    height: 80px;
    background: #dbe7e3;
    border-bottom: 3px solid #eeeaea;
    color:black;
    width:45%;
    border-radius:15px;
    margin-left: 5px;
    float:left;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.5);
}
.begin ul {
    display: table-row;
    margin-top: 10px;
    border-radius:15px;
}
.begin li {
    padding: 2px;
    display: table-cell;
    border-radius:15px
}
.res{
    margin-top:5%;
}
/**/

/*button excel import and export*/
/*---------------------------------------------------*/
.buttonActive{
    border-bottom: black;
    color: white;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
.input-file {
    position: relative;
    display: inline-block;
}
.input-file span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    border-radius: 4px;
    background-color: #010505;;
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
}
.input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

/* Focus */
.input-file input[type=file]:focus + span {
    box-shadow: 0 0 0 0.2rem rgb(19, 18, 18);
}

/* Hover/active */
.input-file:hover span {
    background: #031a19;
}
.input-file:active span {
    background-color: #24242d;
}

/* Disabled */
.input-file input[type=file]:disabled + span {
    background-color: #eee;
}
/**/
/*---------------------------------------------------*/

/**/
svg{
    margin-top: 5px;
}
.canvas{
    overflow-y: auto;
}
/**/

/* toggle button*/
.toggle {
    cursor: pointer;
    display: inline-block;
}

.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}
.toggle-switch:before, .toggle-switch:after {
    content: "";
}
.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
    background: #3C4B57;
}
.toggle-checkbox:checked + .toggle-switch:before {
    left: 30px;
    background: #192025;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
    font-weight: bold;
}
/**/

/* select Angle*/
.selectAngle{
    background-color: #7ee1db;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    font-size: 18px;
    cursor: inherit;
    line-height: inherit;
    color:black;
}

.select-container{
    position: relative;
}

.select-container select{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #d7f8f4;
    transition: all 0.7s ease;
}

.select-container:hover select {
    background-color: #dce3e2;

}


.select-container select:focus {
    outline: none;
    box-shadow: 0 0 5px #d7e4ec; /* Пример анимации при фокусе */
}


/**/

/* counting load*/
.wrapperLoader{
    background-color: #1C262B;
}
.loader {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
}

.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #EFEFFA;
}

.inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #EFEFFA;
}

.inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}
/**/

/*spacing */
#spacing{
    margin-top:2%;
}
.wrapBegin{
}
/**/
.res{
    height:auto;
    order:3;
}
.padd{
    margin-top: 5%;
}
.res-wrapper{
    /*position: absolute;*/
    top:60%;
    background: #dbe7e3;
    border-radius: 15px;
    border: 2px solid white;
    font-size: 18px;
    font-weight: bold;
    color:black;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.5);
    margin-left: 5%;
    margin-right: 5%;
    height:auto;
    width:90%
}
.res-wrapper ul {
    display: table-row;
    margin-top: 10px;
}
.res-wrapper li {
    padding: 10px;
    display: table-cell;
}
.canvas{
    background: #dbe7e3;
    border-radius: 15px;
    padding: 5px;
    color:#000000;
    font-size: 18px;
    font-weight: bold;
}
svg{
    display: flex;
    padding-left: 3%;
    margin-right: 10px;
    border: 2px solid white;
    color:#000000;
    font-size: 18px;
    font-weight: bold;
}
.resultTable{

}

.resultTable {

    width: 90%;
    border-collapse: collapse;
    border-radius: 15px;
    margin-left: 5%;
}
.resultTable th {
    font-weight: bold;
    padding: 2px;
    background: #a2d7d9;
    border: 1px solid #dddddd;
    font-size: 18px;
}
.resultTable td {
    border: 1px solid #dddddd;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}
